<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <dllmap dll="allegro-5.dll" target="/usr/local/lib/liballegro.5.0.4.dylib" os="osx" />
  <dllmap dll="allegro_image-5.dll" target="/usr/local/lib/liballegro_image.5.0.dylib" os="osx" />
  <dllmap dll="allegro_main-5.dll" target="/usr/local/lib/liballegro_main.5.0.dylib" os="osx" />
  <dllmap dll="allegro_primitives-5.dll" target="/usr/local/lib/liballegro_primitives.5.0.dylib" os="osx" />
  <dllmap dll="allegro_font-5.dll" target="/usr/local/lib/liballegro_font.5.0.4.dylib" os="osx" />
  <dllmap dll="allegro_ttf-5.dll" target="/usr/local/lib/liballegro_ttf.5.0.dylib" os="osx" />
  
  <dllmap dll="allegro-5.dll" target="/usr/local/lib/liballegro-5.0.so" os="linux" />
  <dllmap dll="allegro_image-5.dll" target="/usr/local/lib/liballegro_image-5.0.so" os="linux" />
  <dllmap dll="allegro_main-5.dll" target="/usr/local/lib/liballegro_main-5.0.so" os="linux" />
  <dllmap dll="allegro_primitives-5.dll" target="/usr/local/lib/liballegro_primitives-5.0.so" os="linux" />
  <dllmap dll="allegro_font-5.dll" target="/usr/local/lib/liballegro_fonts-5.0.so" os="linux" />
  <dllmap dll="allegro_ttf-5.dll" target="/usr/local/lib/liballegro_ttf-5.0.so" os="linux" />
</configuration>