<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- 32-bit frameworks -->
  <dllmap dll="allegro-5.dll" target="/Library/Frameworks/Allegro-5.0.framework/Allegro-5.0" os="osx" />
  <dllmap dll="allegro_image-5.dll" target="/Library/Frameworks/AllegroImage-5.0.framework/AllegroImage-5.0" os="osx" />
  <dllmap dll="allegro_main-5.dll" target="/Library/Frameworks/AllegroMain-5.0.framework/AllegroMain-5.0" os="osx" />
  <dllmap dll="allegro_primitives-5.dll" target="/Library/Frameworks/AllegroPrimitives-5.0.framework/AllegroPrimitives-5.0" os="osx" />
  <dllmap dll="allegro_font-5.dll" target="/Library/Frameworks/AllegroFont-5.0.framework/AllegroFont-5.0" os="osx" />
  <dllmap dll="allegro_ttf-5.dll" target="/Library/Frameworks/AllegroTTF-5.0.framework/AllegroTTF-5.0" os="osx" />
  
  <dllmap dll="allegro-5.dll" target="/usr/local/lib/liballegro-5.0.so" os="linux" />
  <dllmap dll="allegro_image-5.dll" target="/usr/local/lib/liballegro_image-5.0.so" os="linux" />
  <dllmap dll="allegro_main-5.dll" target="/usr/local/lib/liballegro_main-5.0.so" os="linux" />
  <dllmap dll="allegro_primitives-5.dll" target="/usr/local/lib/liballegro_primitives-5.0.so" os="linux" />
  <dllmap dll="allegro_font-5.dll" target="/usr/local/lib/liballegro_fonts-5.0.so" os="linux" />
  <dllmap dll="allegro_ttf-5.dll" target="/usr/local/lib/liballegro_ttf-5.0.so" os="linux" />
</configuration>